@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

/* splash screen   */
@keyframes splash {
	0% {
		height: 120%;
	}

	100% {
		height: 0;
		z-index: -1;
	}
}
@keyframes hallo {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
@keyframes spin {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
@keyframes spinover {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

div.splash1 {
	color: white;
	margin-top: -100px;
	display: flex;
	position: fixed;
	z-index: 100000000;
	height: 120%;
	width: 100%;
	background-color: #000000;
	animation: splash 2s ease 1 alternate forwards;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	animation-delay: 3s;
}

.splash1 ul {
	display: flex;
	list-style: none;
	color: #fff;
	font-size: 5vmax;
	font-weight: bold;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* spin */
.spin .btn1 {
	background-color: transparent;
	border: none;
	color: white;
}
.spin {
	margin-top: 13vmax;
	color: white;
	animation: spin 0.2s ease infinite alternate forwards;
	animation: spinover 3s ease 1 alternate forwards;
}

/* spin */
.splash1 ul li {
	position: absolute;
	opacity: 0;
	text-transform: uppercase;
}
div.splash1 ul li:nth-child(1) {
	animation: hallo 0.3s ease 1 alternate forwards;
	animation-delay: 0.25s;
}
div.splash1 ul li:nth-child(2) {
	animation: hallo 0.3s ease 1 alternate forwards;
	animation-delay: 0.5s;
}
div.splash1 ul li:nth-child(3) {
	animation: hallo 0.3s ease 1 alternate forwards;
	animation-delay: 0.75s;
}
div.splash1 ul li:nth-child(4) {
	animation: hallo 0.3s ease 1 alternate forwards;
	animation-delay: 1s;
}
div.splash1 ul li:nth-child(5) {
	animation: hallo 0.3s ease 1 alternate forwards;
	animation-delay: 1.25s;
}
div.splash1 ul li:nth-child(6) {
	animation: hallo 0.3s ease 1 alternate forwards;
	animation-delay: 1.5s;
}
div.splash1 ul li:nth-child(7) {
	animation: hallo 0.3s ease 1 alternate forwards;
	animation-delay: 1.75s;
}
div.splash1 ul li:nth-child(8) {
	animation: hallo 0.3s ease 1 alternate forwards;
	animation-delay: 2s;
}
div.splash1 ul li:nth-child(9) {
	animation: hallo 0.3s ease 1 alternate forwards;
	animation-delay: 2.25s;
}
div.splash1 ul li:nth-child(10) {
	animation: hallo 0.3s ease 1 alternate forwards;
	animation-delay: 2.5s;
}
div.splash1 ul li:nth-child(11) {
	animation: hallo 0.3s ease 1 alternate forwards;
	animation-delay: 2.75s;
}
div.splash1 ul li:nth-child(12) {
	animation: hallo 0.3s ease 1 alternate forwards;
	animation-delay: 3s;
}

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #de5b3b;
	overflow-x: hidden;
}
.navbar {
	font-size: 12px;
	padding: 0;
	font-family: "IM Fell English", serif;
	font-weight: 400;
}

.navbar a:hover {
	font-weight: bold;
	color: white;
}

/* 
layar 2 */
.body2 {
	background-color: #de5b3b;
}
.jumbotron2 {
	padding: 0 5px;
	padding-top: 200px;
	padding-bottom: 140px;
	color: white;
	display: block;
}
.jumbotron2 img {
	width: 25vmax;
	transition: 2s;
	cursor: pointer;
	display: block;
}
.jumbotron2 p {
	opacity: 0;
	transition: 2s;
	padding-top: 30%;
}
.jumbotron2 h3:hover ~ p {
	opacity: 1;
	padding-top: 0%;
}
.jumbotron2 .g1:hover {
	margin-top: -50px;
}
.jumbotron2 .gue2 h3:hover {
	width: 100%;
	color: #de5b3b;
}
.jumbotron2 .gue h3:hover {
	width: 80%;
	color: #de5b3b;
}
.jumbotron2 .g1:hover ~ .g2 {
	-moz-transform: translateX(50px) scale(1.5);
	-webkit-transform: translateX(50px) scale(1.5);
	transform: translateX(50px) scale(1.5);
}
.body2 .jumbotron2 h3 {
	font-size: 7vmax;
	background-color: rgb(58, 58, 58);
	width: 0px;
	font-family: "IM Fell English", serif;
	transition: 2s;
}
body .jumbotron2 .gue {
	padding-top: 25%;
}
/* konrten */
.kontent .row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.kontent h1 {
	font-size: 4.5vmax;
	color: #303030;
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
	line-height: 5rem;
}
.kontent i {
	font-family: "Libre Baskerville", serif;
	font-size: 1.1rem;
}
.kontent .textkanan {
	box-shadow: 0px 0px 0px #5f2719, 0px 0px 0px #ff8f5d;
	transition: 1s;
}
.kontent .textkiri {
	box-shadow: 0px 0px 0px #5f2719, 0px 0px 0px #ff8f5d;
	transition: 1s;
}
.kontent .textkanan:hover {
	border-radius: 30px;
	background: #de5b3b;
	box-shadow: 14px 14px 32px #5f2719, -14px -14px 32px #ff8f5d;
}
.kontent .textkiri:hover {
	border-radius: 30px;
	background: #de5b3b;
	box-shadow: 14px 14px 32px #5f2719, -14px -14px 32px #ff8f5d;
}
.kontent .textkanan i {
	font-size: 1rem;
}
.kontent div.textkiri {
	text-align: justify;
}
.kontent .textkiri i {
	text-align: justify;
}
.kontent div {
	margin: 2rem;
}
.kontent img.topi {
	position: absolute;
	transform: translateX(-3em) translateY(-3em);
}
/* animaSi topi */
.orangdantopi:hover img.topi {
	transform: translateX(-2.5em) translateY(-20em) rotate(20deg);
}
/* .kontent div.orangdantopi:hover div.topi{
    position: absolute;
   
} */
.yoi {
	position: absolute;
	color: #000000;
	font-family: "Libre Baskerville", serif;
	top: 90vmin;
	left: 48vmax;
	opacity: 0.3;
}

.kontent2 .container222 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transition: 2s;
	margin: 0 5vmax;
}
.kontent2 .container222:hover {
	display: flex;
	flex-wrap: wrap;

	justify-content: center;
	border-radius: 34px;
	background: #de5b3b;
	box-shadow: 14px 14px 32px #5f2719, -14px -14px 32px #ff8f5d;
}
.woyi {
	display: flex;
	justify-content: center;
}
.woyi h2 {
	margin: 0;
	padding: 0;
	color: white;
	font-size: 7vmax;
	font-family: "IM Fell English", serif;
}
.aku {
	display: flex;
	align-items: flex-end;
	cursor: pointer;
	transition: 1s;
}
.container222 .aku:first-child {
	background-image: url(../images/1.png);
	display: flex;
	width: 40vmax;
	height: 25vmax;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}
.container222 .aku:nth-child(2) {
	background-image: url(../images/2.png);
	display: flex;
	width: 40vmax;
	height: 25vmax;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}
.container222 .aku:nth-child(3) {
	background-image: url(../images/3.png);
	display: flex;
	width: 40vmax;
	height: 25vmax;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	margin-top: -2.47vmax;
}
.container222 .aku:last-child {
	background-image: url(../images/4.png);
	display: flex;
	width: 40vmax;
	height: 25vmax;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	margin-top: -2.47vmax;
}
/* ::before */
.container222 .aku a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 0%;
	background-color: #000000;
	transition: 0.5s;
	opacity: 0;
	margin-bottom: 1.25vmax;
	text-decoration: none;
	color: #fff;
}
.container222 .aku:hover a {
	height: 90%;
	opacity: 1;
}
.container222 .aku:hover {
	background-size: 100%;
	width: 40vmax;
	height: 25vmax;
}

/* untuk form */
#kirims {
	border-radius: 34px;
	background: #ffffff;
	box-shadow: 14px 14px 32px #6e6e6e, -14px -14px 32px #ffffff;
	width: 15em;
	font-weight: bold;
	color: black;
	padding: 15px 5px;
}
#kirims:hover {
	background-color: #de5b3b;
	color: #ffffff;
	transform: scale(0.99);
	box-shadow: 0px 0px 0px #e70000, 0px 0px 0px #ffffff;
}
label {
	color: black;
}
.foot {
	position: absolute;

	display: flex;
	align-items: center;
	z-index: 1;
	width: 15vmax;
	z-index: 200;
	margin-top: -53em;
}
footer {
	position: absolute;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	z-index: 20000000000;
	left: 40vmax;
}
.menufooter {
	flex-wrap: wrap;
}
.menufooter ul {
	width: 50vmax;
	font-size: 1.3vmax;
}
.menufooter h3 {
	font-family: "IM Fell English", serif;
	color: #ffd42d;
	font-weight: bold;
}
.menufooter h2 {
	font-family: "IM Fell English", serif;
	color: #ffd42d;
	font-weight: bold;
}
.menufooter img {
	margin-top: -10vmax;
	margin-left: -10vmax;
	width: 50vmax;
	z-index: -1;
}
.form22222 {
	background-color: white;
	width: 105vmax;
	margin-left: -2vmax;
	margin-bottom: 0;
	padding: 0;
}

.form22222 svg {
	margin-top: -300px;
	width: 105vmax;
}
.formcontact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
footer h1 {
	font-size: 1.4em;
	color: white;
}
.formcontact {
	width: 90vmax;
}

/* 
gelombang */

.svg2 {
	width: 120vmax;
	margin-left: -10vmax;
}
.putih {
	width: 120vmax;
	margin-left: -10vmax;
	z-index: 0;
}

.menufooter {
	z-index: 200;
}
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.inner-header {
	height: 65vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.flex {
	/*Flexbox for containers*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.waves {
	position: relative;
	width: 100%;
	height: 15vh;
	margin-bottom: -7px; /*Fix for safari gap*/
	min-height: 100px;
	max-height: 150px;
}

.content {
	position: relative;
	height: 20vh;
	text-align: center;
	background-color: white;
}

/* Animation */
svg {
	position: absolute;
	z-index: 10000;
}
.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}
.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}
.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}
.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}
@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}
	.content {
		height: 30vh;
	}
	h1 {
		font-size: 24px;
	}
}

/* gelombang */

@media screen and (max-width: 768px) {
	html {
		overflow-x: hidden;
	}
	.body2 h3 {
		margin-top: -20%;
	}
	.jumbotron2 p {
		opacity: 0;
		transition: 2s;
		padding-top: 5%;
	}
	.kontent h1 {
		font-size: 6vmax;
		line-height: 5vmax;
	}
	.kontent i {
		opacity: 1;
		font-size: 1.3vmax;
	}
	.kontent img.topi {
		transform: translateX(-1.5em) translateY(-1.3em);
	}
	.gambargue {
		padding: 0 15vmax;
	}
	.formcontact {
		width: 65vmax;
		margin: 0;
		padding: 0;
		padding: 0 5vmax;
	}
	.form22222 svg {
		width: 105vmax;
		margin: 0;
	}
	footer {
		display: flex;
		justify-content: center;
	}
}
.btn222 {
	color: #de5b3b;
}
